<!DOCTYPE html>
<html lang="en">
	<head>
		<title>LiDAR Annotator</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="static/styles/style.css" rel="stylesheet">
	</head>

	<body>
		<nav class="tools">
			<ul id="tools">
				<!-- Commented out file input and export for evaluation -->
				<li>
					  <input type="file" id="file_input" class="inputfile" multiple>
				</li>
				

				<li><a href="#" id="save"><i class="fa fa-floppy-o"></i></a></li>
				<li><a href="#" id="next_frame"><i class="fas fa-caret-square-right">Next Frame</i></a></li>
				<li><a href="#" class="selected" id="move"><i class="fa material-icons">3d_rotation</i></a></li>
                <li><a href="#" id="move2D"><i class="fa fa-pencil"></i></a></li>
				<!-- <li><a href="#" id="ids"><i class="fa fa-pencil"></i></a></li> -->
				<li>
					<button type='button' id='record' style="display: none;">Click to start recording</button>
				<li>
					<div>
						<table id="object-table">
							<thead>
								<tr style="display:block;" >
									<td>Object IDs</td>
									<td></td>
								</tr>
							</thead>
							<tbody style="overflow-y: scroll; height:12em; display:block;">
								
							</tbody>
							
						</table>
					</div>
				</li>

			</ul>



		</nav>

		<div id="container"></div>

		<div id="info">LiDAR Annotator</div>
		<div id="draw_bounding_box_reminder"><p></p></div>
		<div id="footer"><p></p></div>


    <script src="static/js/libs/three.min.js"></script>
    <script src="static/js/libs/OrbitControls.js"></script>
	<script src="static/js/libs/Detector.js"></script>
	<script src="static/js/libs/stats.min.js"></script>
	<script src="static/js/libs/FileSaver.min.js"></script>
	<script src="static/js/libs/dat.gui.min.js"></script>
	<script src="static/js/box.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--<script src="static/js/utils.js?nocache"></script> -->
	<script src="static/js/utils.js"></script>
	<script src="static/js/pointcloud.js"></script>
	<script src="static/js/ObjectTable.js"></script>
	<!--<script src="static/js/box.js?nocache"></script>-->
	<!--<script src="static/js/Evaluation.js?nocache"></script>-->
	<script src="static/js/Evaluation.js"></script>
	<!--<script src="static/js/Evaluator.js?nocache"></script>-->
	<script src="static/js/Evaluator.js"></script>

	<!--<script src="static/js/main.js?nocache"></script>-->
	<script src="static/js/main.js"></script>



	</body>
</html>