<!DOCTYPE html>
<html lang="en">
	<head>
		<title>LATTE</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="static/styles/style.css" rel="stylesheet">
		<link href="static/styles/imagePanels.css" rel="stylesheet">
		<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
	</head>

	<body>
		<nav class="tools">
			<ul id="tools">
				<!-- Commented out file input and export for evaluation -->
				<!-- <li>
					  <input type="file" id="file_input" class="inputfile" multiple>
				</li> -->
				

				<li><a href="#" id="save"><i class="fa fa-floppy-o"></i></a>
					<a href="#" class="selected" id="move"><i class="fa material-icons">3d_rotation</i></a>
					<a href="#" id="move2D"><i class="fa fa-pencil"></i></a>
				</li>
				<!-- <li>
					<button type='button' id='record'>Click to start recording</button>
				</li> -->
			</ul>
			<ul id="tools_wrapper">
				<li>
					<div>
						<table id="frames-table">
							<thead>
								<tr style="display:block;" >
									<td>Frames</td>
									<td></td>
								</tr>
							</thead>
							<tbody style="overflow-y: scroll; height:12em; display:block;">
								
							</tbody>
							
						</table>
					</div>
				</li>
				<li>
					<div>
						<table id="object-table">
							<thead>
								<tr style="display:block;" >
									<td>Object IDs</td>
									<td></td>
								</tr>
							</thead>
							<tbody style="overflow-y: scroll; height:12em; display:block;">
								
							</tbody>
							
						</table>
					</div>
				</li>
				<li>
					<!-- <div id="toggle"></div> -->
					<div id="flip">Mask RCNN Labels</div>
					<div id="panel"></div>
					<div id="flip2">Object from Image</div>
					<div id="panel2"></div>
				</li>
			</ul>
		</div>



		</nav>

		<div id="container"></div>

		<div id="info">LiDAR Annotator</div>
		<div id="draw_bounding_box_reminder"><p></p></div>
		<div id="footer"><p></p></div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="static/js/libs/three.min.js"></script>
	<script src="static/js/init.js?nocache"></script>
	<script src="static/js/frame.js?nocache"></script>
    <script src="static/js/libs/OrbitControls.js?nocache"></script>
	<script src="static/js/libs/Detector.js"></script>
	<script src="static/js/libs/stats.min.js"></script>
	<script src="static/js/libs/FileSaver.min.js"></script>
	<script src="static/js/libs/dat.gui.min.js"></script>
	<script src="static/js/app.js?nocache"></script>
	<script src="static/js/box.js?nocache"></script>
	<script src="static/js/utils.js?nocache"></script>
	<script src="static/js/pointcloud.js?nocache"></script>
	<script src="static/js/ObjectTable.js?nocache"></script>
	<script src="static/js/Box.js?nocache"></script>
	<script src="static/js/Controls.js?nocache"></script>
	<script src="static/js/Evaluation.js?nocache"></script>
	<script src="static/js/Evaluator.js?nocache"></script>
	<script src="static/js/imagePanels.js?nocache"></script>
	<script src="static/js/init.js?nocache"></script>
	<script src="static/js/main.js?nocache"></script>



	</body>
</html>